body {
    height: 300vw;
    width: 500vw;
    background-color: white;
}

.title {
    background-color: gray;
    padding: 20px 20px;
    height: 40vh;
    width: 80vh;
}

.part1 {

}

.btn1 {
    background-color: black;
    color: white;
    padding: 20px 20px;
    border-radius: 12px;

}

.title-content {
    font-size: medium;
    color: black;
}

.h1 {

}

.content {
    background-color: white;
    padding: 20px 20px;
    height: 100vh;
    width: 40vh;
}

.text {
    font-size: small;
    color: gray;
}
.h3 {
font-size: medium;
color: black;
}

.statistic {
    background-color: white;
    padding: 20px 20px;
    height: 100vh;
    width: 80vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(200px 1fr);
    gap: 2.5rem;
}

.quadrado {
    background-color: gray;
    color: goldenrod;
    display: block;
    box-sizing: border-box;
    box-shadow: 20px 20px color(srgb rgb(0, 0, 0) rgb(0, 0, 0) rgb(0, 0, 0));

}

.h4 {
    font-size: medium;
    color: black;
}

